*, *:before, *:after {
  box-sizing: border-box;
}

 html, body {
   margin: 0;
   padding: 0;
   color: #212121;
   font-family: sans-serif;
   height: 100%;
   max-width: 320px;
}

h1, h2 {
  margin: 0;
  color: #ffffff;
}

header {
  margin: 0;
  padding: .4rem 10% .3rem;
  background-color: #512DA8;
}
header > h1 {
  font-size: .75rem;
  font-weight: 100;
  text-transform: uppercase;
}

.info-panel {
  padding: 2rem 10% 1.125rem;
  background-color: #673AB7;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.info-panel > h2 {
  font-size: 2.125rem;
  font-weight: 400;
}
.info-panel > p {
  color: #D1C4E9;
  margin: .5rem 0;
  line-height: 1.2;
}

.screen {
  padding: 1.6rem 10%;
}

input[type="submit"] {
  color: #ffffff;
  background-color: #03A9F4;
  border: none;
  padding: .8rem 1rem .6rem;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: .125rem;
}
input[type="submit"]:hover {
  background-color: #028AC7;
  transition: all .2s ease;
}

.btn-begin {
  display: block;
  margin-top: 2.5rem;
}

input[type="number"] {
  padding: .5rem;
  margin-left: .5rem;
  width: 6rem;
}




.exercise-select select {
  width: 8rem;
  margin-left: .5rem;
}

.sets-select {
  margin-top: 1.4rem;
  padding: 0;
  border: 0;
}
.sets-select ul {
  padding: 0;
}
.radio-group li {
  margin-right: 1.4rem;
  padding: 0;
  display: inline-block;
  list-style: none;
}
.radio-group li:last-child {
  margin-right: 0;
}
.radio-group input {
  display: none;
}
.radio-group label {
  display: inline-block;
  color: #727272;
  background-color: #B6B6B6;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  line-height: 2.5;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
}
.radio-group input:checked + label {
  background-color: #03A9F4;
  color: #ffffff;
}
.radio-group label:hover {
  background-color: #028AC7;
  color: #ffffff;
  transition: all .2s ease;
}

#progressbar-display {
  margin: 0 auto;
  max-width: 256px;
}
.progressbar-text {
  text-align: center;
  font-size: 2.8125rem;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

/* Animation Classes */
.animated {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
