@import "./normalize.css";

:root {
  --darkPrimaryColor   : #512DA8;
  --defaultPrimaryColor: #673AB7;
  --lightPrimaryColor  : #D1C4E9;
  --textPrimaryColor   : #FFFFFF;
  --accentColor         : #03A9F4;
  --primaryTextColor   : #212121;
  --secondaryTextColor : #727272;
  --dividerColor        : #B6B6B6;
}

*, *:before, *:after {
  box-sizing: border-box;
}

 html, body {
   margin: 0;
   padding: 0;
   color: var(--primaryTextColor);
   font-family: sans-serif;
   height: 100%;
   max-width: 320px;
}

h1, h2 {
  margin: 0;
  color: var(--textPrimaryColor);
}

header {
  margin: 0;
  padding: .4rem 10% .3rem;
  background-color: var(--darkPrimaryColor);
}
header > h1 {
  font-size: .75rem;
  font-weight: 100;
  text-transform: uppercase;
}

.info-panel {
  padding: 1.2rem 10% .6rem;
  background-color: var(--defaultPrimaryColor);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.info-panel > h2 {
  font-size: 2.125rem;
  font-weight: 400;
}
.info-panel > p {
  color: var(--lightPrimaryColor);
  margin: .5rem 0;
  line-height: 1.2;
}

.screen {
  padding: 1.6rem 10%;
}

input[type="submit"] {
  color: var(--textPrimaryColor);
  background-color: var(--accentColor);
  border: none;
  padding: .8rem 1rem .6rem;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: .125rem;
}
input[type="submit"]:hover {
  background-color: #028AC7;
  transition: all .2s ease;
}

.btn-begin {
  display: block;
  margin-top: 4rem;
}

input[type="number"] {
  padding: .5rem;
  margin-left: .5rem;
  width: 6rem;
}

.exercise-select select {
  width: 8rem;
  margin-left: .5rem;
}

.sets-select {
  margin-top: 1.4rem;
  padding: 0;
  border: 0;
}
.sets-select ul {
  margin: 1rem 0 0;
  padding: 0;
}
.radio-group li {
  margin-right: 1.4rem;
  padding: 0;
  display: inline-block;
  list-style: none;
}
.radio-group li:last-child {
  margin-right: 0;
}
.radio-group input {
  display: none;
}
.radio-group label {
  display: inline-block;
  color: var(--secondaryTextColor);
  background-color: var(--dividerColor);
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  line-height: 2.5;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
}
.radio-group input:checked + label {
  background-color: var(--accentColor);
  color: var(--textPrimaryColor);
}
.radio-group label:hover {
  background-color: #028AC7;
  color: var(--textPrimaryColor);
  transition: all .2s ease;
}

#progressbar-display {
  margin: 0 auto;
  max-width: 192px;
}
.progressbar-text {
  text-align: center;
  font-size: 2.5rem;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

/* Animation Classes */
.animated {
  animation-duration: .25s;
  animation-fill-mode: both;
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
